---
interface Article {
  id: string;
  title: string;
  created: string;
  description?: string;
  slug: string;
  status: 'In progress' | 'Published';
}

interface Props {
  articles: Article[];
}

const { articles } = Astro.props as Props;
---

<section>
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-6">Articles</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {articles.map(article => (
        <a href={`${import.meta.env.BASE_URL}/${article.slug}`} class="block bg-gray-900 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 no-underline text-white">
          <article>
            <h3 class="text-2xl font-semibold mb-2 text-blue-300 capitalize">{article.title}</h3>
            <p class="text-gray-100 mb-4">{article.created}</p>
            <p class="text-gray-300">{article.description}</p>
          </article>
        </a>
      ))}
    </div>
  </div>
</section>
